/* form */
.formm{
    background-color: green;
    width: 360px;
    height: 400px;
    border-style: solid;
    border-width: 15px;
    border-color: blue;
    border-radius: 30px;
    padding-left: 50px;
    padding-top: 20px;
}
table{
    center;
    align-items: center;
  color: blue ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
body{
    background-color: rgba(136, 69, 69, 0.9);
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmVhY2glMjBzY2VuZXJ5fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover; 
}
#formbox{
    width: 360px;
    margin: 0 auto;
}
.tabel{
    width: 80px;
    margin-left: 580px;
}